<div class="ui-g">
  <div class="ui-g-2">
    <a target="_new" href="https://commons.wikimedia.org/wiki/File:Star_Wars_Logo_2.svg#/media/File:Star_Wars_Logo_2.svg">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Star_Wars_Logo_2.svg/100px-Star_Wars_Logo_2.svg.png"
        alt="Star Wars Logo 2.svg">
    </a>
  </div>
  <div class="ui-g-8">
    <span *ngFor="let key of keys" style="float:left;margin-left:30px;">
      <p-button label="{{key}}" (click)="onClickNavigateList(key)" styleClass="ui-button-rounded ui-button-warning"></p-button>
    </span>
  </div>
  <div class="ui-g-2">
    <a href="https://swapi.co" target="_new">
      <img src="/assets/swapi.png" alt="API from swapi.co" height="60px;">
    </a>
  </div>

  <div class="ui-g-12">
    <router-outlet></router-outlet>
  </div>
</div>