<p-table [value]="loadData" [totalRecords]="totalRecords" [paginator]="true" [rows]="10" [loading]="loading" [lazy]="true"
  (onLazyLoad)="loadDataAndConfigureTable($event)" dataKey="name" [paginator]="true" [responsive]="true">

  <ng-template pTemplate="caption">

    <div class="ui-g">
      <div class="ui-g-2">

      </div>
      <div class="ui-g-8">
        <span class="headerTable">{{mainUrl}}</span>

      </div>
      <div class="ui-g-2"></div>

    </div>

  </ng-template>
  <ng-template pTemplate="header">
    <tr style="font-size: 0.9em">
      <th>
        Name
      </th>
      <th>
        Birth Year
      </th>
      <th>
        Homeworld
      </th>
      <th>
        Species
      </th>

      <th>
        Height
      </th>
      <th>
        Hair Color
      </th>
      <th>
        Skin Color
      </th>
      <th>
        Eye Color
      </th>

      <th style="width: 3em"></th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-expanded="expanded" let-columns="columns">
    <tr>
      <td class="{{item.gender}}">

        <span class="main" *ngIf="item.name">
          {{item.name}}
        </span>

      </td>
      <td class="center" style="font-size: 0.9em">
        {{item.birth_year}}
      </td>

      <td>

        <a *ngIf="item.homeworldObj && item.homeworldObj.name" class="pointer" (click)="displayModalPannel(item.homeworldObj,'planet')">
          {{item.homeworldObj.name}}
          <img src="/assets/i.png">
        </a>

      </td>

      <td>
        <span *ngIf="item.speciesObj && item.speciesObj[0] && item.speciesObj[0].name">
          <a class="pointer" (click)="displayModalPannel(item.speciesObj[0],'specie')">
            {{item.speciesObj[0].name}}
            <img src="/assets/i.png">
          </a>
        </span>
      </td>
      <td class="center">
        {{item.height}}
      </td>
      <td class="center">
        {{item.hair_color}}
      </td>
      <td class="center">
        {{item.skin_color}}
      </td>
      <td class="center">
        {{item.eye_color}}
      </td>


      <td>
        <a href="#" [pRowToggler]="item">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>


    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr>
      <td [attr.colspan]="9">
        <div class="ui-g ui-fluid" style="background-color: aquamarine;">

          <div class=" ui-g-3 subtitle">
            Vehicles
          </div>
          <div class="ui-g-1"></div>

          <div class="ui-g-3 subtitle">
            Starship
          </div>

          <div class="ui-g-1"></div>

          <div class="ui-g-3 subtitle">
            Films
          </div>


          <div class="ui-g-3" style="text-align: left;">

            <ul class="nobullet" *ngIf="rowData.vehiclesObj">
              <li *ngFor="let ss of rowData.vehiclesObj">
                <a *ngIf="ss.name" class="pointer" (click)="displayModalPannel(ss, 'veichle')">
                  {{ss.name}}
                  <img src="/assets/i.png">
                </a>
              </li>
            </ul>
          </div>

          <div class="ui-g-1"></div>

          <div class="ui-g-3" style="text-align: left;">

            <ul class="nobullet" *ngIf="rowData.starshipsObj">
              <li *ngFor="let ss of rowData.starshipsObj">
                <a *ngIf="ss.name" class="pointer" (click)="displayModalPannel(rowData.starshipsObj[0], 'starship')">
                  {{ss.name}}
                  <img src="/assets/i.png">
                </a>
              </li>
            </ul>
          </div>

          <div class="ui-g-1"></div>

          <div class="ui-g-3" style="text-align: left;">

            <ul class="nobullet" *ngIf="rowData.filmsObj">
              <li *ngFor="let ss of rowData.filmsObj">
                <a *ngIf="ss.title" class="pointer" (click)="displayModalPannel(ss, 'film')">
                  {{ss.title}}
                  <img src="/assets/i.png">
                </a>
              </li>
            </ul>
          </div>

        </div>

      </td>
    </tr>
  </ng-template>

</p-table>


<app-item-details (onChiudi)="resetModal($event)" [objecttype]="modalType" [modalItem]="modalItem" [displayModal]="displayModalDetail"></app-item-details>
