/* You can add global styles to this file, and also import other style files */

body {
  background: #1c1e22;
}

.male {
  background-color: lightblue !important;
}

.female {
  background-color: lightpink !important;
}

ul {
  padding-left: 0em;
  padding-top: 0;
  padding-bottom: 0;
}

.pointer {
  cursor: pointer !important;
}

tr {
  font-size: 0.8em !important;
}

td {
  font-size: 0.9em !important;
  vertical-align: top;
}

.nobullet {
  list-style: none !important;
}

.center {
  text-align: center !important;
}

.main {
  font-weight: bold !important;
  font-size: 1.2em !important;
}

.headerTable {
  text-transform: uppercase !important;
  font-size: 2em !important;
}

.upper {
  text-transform: uppercase !important;
}

.ui-button-text {
  text-transform: uppercase !important;
}

.ui-menuitem-text {
  text-transform: uppercase !important;
  font-size: 0.8em;
  font-weight: bold;
}

.ui-tabmenu {
  background: #1c1e22 !important;
}

.ui-tabmenuitem {
  min-width: 100px !important;
}
