/* You can add global styles to this file, and also import other style files */

body {
  background: #1c1e22;
}

.male {
  background-color: lightblue !important;
}

.female {
  background-color: lightpink !important;
}

ul {
  list-style-image: url('/assets/i.png');
  padding-left: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
}

.pointer {
  cursor: pointer !important;
}

tr {
  font-size: 0.8em !important;
}

td {
  font-size: 0.9em !important;
  vertical-align: top;
}

.nobullet {
  list-style: none !important;
}

.center {
  text-align: center !important;
}

.main {
  font-weight: bold !important;
}
